# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and databases
*.log
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE settings (PyCharm, VS Code, etc.)
.vscode/
.idea/
*.iml

# Testing
.coverage
.tox/

# Secrets (make sure to exclude sensitive data!)
.env

.DS_Store